body {
  text-align: center;
  color: #544738;
}
header {
  background-color: rgb(206, 248, 200);
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}
a {
  color: #544738;
  text-decoration: none;
  font-size: 20px;
}
a:hover {
  color: #7ebe83;
}
.kanban {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.box {
  border-style: solid;
  padding: 20px;
}
.kBox {
  /* border-style: solid;
  padding: 50px; */
}
ul {
  list-style: none;
}
.clean {
  background-color: rgb(255, 224, 167);
  padding: 10px;
}
.lawn {
  background-color: rgb(146, 146, 255);
  padding: 10px;
}
.sod {
  background-color: rgb(167, 255, 167);
  padding: 10px;
}
.topRight {
  text-align: right;
  margin-right: 10px;
  margin-left: 50%;
  background-color: #7ebe83;
}
.pageTitle {
  text-align: left;
  margin-left: 10px;
  font-size: 20px;
}
.slogan {
  text-align: left;
  margin-left: 10px;
  font-size: 15px;
}
.contact {
  background-color: rgb(206, 248, 200);
  border-radius: 25%;
  margin-left: 10px;
  width: 200px;
  height: 100px;
  padding: 1px 10px 40px 10px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
